/* styles for hero container */
body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
.heroContainer{
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.1);
    position: relative;
}
.backgroundClip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover; /*this line helps in making the video be 100% height in mobile */
}
#desktopNav{
    position: fixed;
    top: 0;
}
#mobileNav{
    position: fixed;
    top: 0;
}
.navbar{
    background-color: transparent;
}
.navbar.colorChange{
    backdrop-filter: blur(24px);
    background-color: rgba(45,45,45,.4);
    z-index: 999;
}

/* styles for navbar */
.navItem:hover{
    background-color: rgba(0,0,0,0.4);
    border-radius: 3px;
}
.navBtn{
    background-color: rgba(0,0,0,0.4);
    border-radius: 3px;
}
/* styles for swiper */
.swiper-pagination-bullet{
    background-color: white;
    width: 12px;
    height: 12px;
}
/* style for break image */
.mybreak{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    background-position: center;
    position: relative;
}

/* styles for my range */
.myrange{
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.1);
    /* position: relative; */
}
@media (min-aspect-ratio:16/9){
    .backgroundClip{
      width: 100%;
      height: auto !important;
    }
}
@media (max-aspect-ratio:16/9){
    .backgroundClip{
        width: auto !important;
        height: 100%;
    }
}
@media only screen and (max-width: 768px){
    #mobileNav{
        display: block;
    }
    #desktopNav{
        display: none;
    }
    .heroItems{
        width: 90%;
    }
}
@media only screen and (min-width: 992px) {
    #mobileNav{
        display: none;
    }
    #desktopNav{
        display: block;
    }
    .heroItems{
        width: 50%;
    }
}