/* styles for hero container */
.heroContainer{
    width:100%;
    height: 100vh;
}
.backgroundClip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover; /*this line helps in making the video be 100% height in mobile */
}

/* styles for navbar */
.navItem:hover{
    background-color: rgba(0,0,0,0.4);
    border-radius: 3px;
}
.navBtn{
    background-color: rgba(0,0,0,0.4);
    border-radius: 3px;
}

@media (min-aspect-ratio:16/9){
    .backgroundClip{
      width: 100%;
      height: auto !important;
    }
}
@media (max-aspect-ratio:16/9){
    .backgroundClip{
        width: auto !important;
        height: 100%;
    }
}